{{#if workouts}} 
    {{#each workouts as |Workout|}}
        <p class="workoutDisplay">
            {{name}} completed on {{completionDate}}
            <form action="/workouts/{{_id}}/delete" method="post">
                <input type="submit" name="{{name}}" value="Delete Workout">
            </form>
            <form action="/workouts/{{name}}/edit" method="post">
                <input type="submit" name="{{_id}}" value="Edit Workout">
            </form>
        </p>
    {{/each}} 
{{/if}}
<form action="" method="post">
    <h2>Log a Workout</h2>
    <p>
        Workout:
        <input type="text" name="name" id=""> Completed:
        <input type="date" name="completionDate" id="">
    </p>
    <p>
        <input type="submit" value="Log">
    </p>
</form>