<div>
{{#if workouts}} 
    <h2>Workouts</h2>
    {{#each workouts as |Workout|}}
        <div class="workoutDisplay">
            <h3 class="workoutHeader">{{name}}:</h3>
            Exercises:
            <ul class="exerciseList">
            {{#each exercises as |exercise|}}
                <li class="exerciseListItem">{{exercise.name}}</li>
            {{/each}}
            </ul>
            <form action="/workouts/{{_id}}/delete" method="post">
                <input type="submit" name="{{name}}" value="Delete Workout">
            </form>
            <form action="/workouts/{{_id}}/edit" method="post">
                <input type="submit" name="{{name}}" value="Edit Workout">
            </form>
        </div>
    {{/each}} 
{{/if}}
</div>
</p>
<div class="create">
<form action="" method="post">
    <h2>Create a Workout</h2>
    <p>
        Workout:
        <input type="text" name="name" id=""> 
    </p>
    <p>
        Add Exercises:
        {{#each exercises as |exercise|}}
            <p>
            <input type="checkbox" value={{_id}} name="exerciseList" id="">
            <label for="{{name}}">{{name}}</label>
            </p>
        {{/each}}
        </select>
    </p>
    <p>
        <input type="submit" value="Add Workout">
    </p>
</form>
</div>